{% extends 'base.html' %}
{% load static %}


{% block title %}Tecnotal | Inicio{% endblock title %}

{% block hero_img %}
<img src="{% static 'img/index_background.jpg' %}" class="card-img" style="object-fit: cover; height: 90dvh;"
    alt="background">
{% endblock hero_img %}
{% block hero_title %}TECNOTAL S.A.{% endblock hero_title %}
{% block hero_description %}Empresa nacional de metal mecánica y Montaje.{% endblock hero_description %}

{% block section_name %}Nuestros Servicios{% endblock section_name %}
{% block section_description %}Soluciones especializadas en metal mecánica y montaje industrial.{% endblock section_description %}

{% block card %}
{% for service in services %}

<div class="col-md-4">
    <div class="card h-100 border-0 shadow-sm text-center p-3">
        <div class="card-body">
            <h4 class="card-title fw-bold">{{ service.name }}</h4>
            <p class="card-text text-muted">{{ service.description }}</p>
        </div>
    </div>
</div>

{% endfor %}
{% endblock card %}